table{
border: 3px solid black;
margin-left: auto;
margin-right:auto;
}
th {
background-color: rgb(1, 202, 44);
}
#firstTable tr:nth-child(even) {
background-color: grey;
}
h1{
    text-align: center;
}

.back{
    text-align: center;
}